<!DOCTYPE html>
<html lang="en">
<head>
    {% include "basehead.njk" %}
    <link rel="stylesheet" href="/sass/pages.scss" />
</head>

<body>
    <section>
        {{ content | safe }}
    </section>
</body>
</html>