---
layout: layouts/pages-layout.njk 
title: Second Page Title
---

<h1>{{ title }}</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, odio!</p>

<a href="/pages">Back to the Post Pages</a>