---
layout: layouts/contact.njk
title: Contact Page
description: "This is for the contact page only"
---

<h1>I am the {{title}} </h1>
<p>this is where the contacts will be</p>

<a href="/">Back Home</a>